@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/icomoon.eot?zfte6h");
  src: url("../fonts/icomoon/icomoon.eot?zfte6h#iefix")
      format("embedded-opentype"),
    url("../fonts/icomoon/icomoon.ttf?zfte6h") format("truetype"),
    url("../fonts/icomoon/icomoon.woff?zfte6h") format("woff"),
    url("../fonts/icomoon/icomoon.svg?zfte6h#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-align-justify:before {
  content: "\e907";
}
.icon-facebook:before {
  content: "\e906";
}
.icon-drumstick-bite:before {
  content: "\e905";
}
.icon-globe:before {
  content: "\e904";
}
.icon-house-laptop:before {
  content: "\e903";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-share-alt:before {
  content: "\e902";
}
.icon-close:before {
  content: "\e901";
}
.icon-remove:before {
  content: "\e901";
}
.icon-times:before {
  content: "\e901";
}
