:root {
  --bg-color-main: #0d0d0d;
  --text-color-main: #f9f6f6;
  --color-light: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}
p {
  text-wrap: balance;
}

body {
  background-color: var(--bg-color-main);
  color: var(--text-color-main);
  overflow: hidden;
}

section:not(#meals) {
  display: none;
  /* width: calc(100% - 214px); */
}
.d-flow-root {
  display: flow-root;
}
.cursor-pointer {
  cursor: pointer;
}
.alert {
  width: fit-content;
}
/*  ?===> loading <=== */
.loading-screen {
  background-color: var(--bg-color-main);
  display: flex;
  z-index: 999;
}
.inner-loading-screen {
  background-color: var(--bg-color-main);
  display: flex;
  /* display: none; */
  z-index: 8;
}

.loader {
  display: block;
  color: var(--color-light);
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.3s infinite linear;
  transform: translateZ(0);
}
@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
      0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
      0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}

/*  ?===> Side Nav Menu <=== */
.side-menu {
  width: 280px;
  background-color: var(--bg-color-main);
  z-index: 10;
}
.icon-menu {
  font-size: 32px;
  cursor: pointer;
}
.nav-link {
  color: var(--text-color-main);
  padding: var(--bs-nav-link-padding-y) 0;
}
.nav-link:focus,
.nav-link:hover {
  color: var(--color-light);
}
.nav-link:focus-visible {
  outline: 0;
  box-shadow: none;
}
.logo {
  width: 50px;
}
.icons i {
  color: var(--text-color-main);
}
.nav-header {
  background-color: var(--color-light);
  color: var(--bg-color-main);
}

/*  ?===> ContactUs <=== */
/* remove arrows input number Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/*  ?===> Sections <=== */
.meal-layer {
  width: 100%;
  height: 100%;
  background-color: #f9f6f6ca;
  top: 100%;
  transition: 0.5s;
}
.meal:hover .meal-layer {
  top: 0;
}
.icon-area,
.icon-ingredients {
  font-size: 4em;
}

/*  ?===> Section search <=== */
.search-input.form-control::placeholder {
  color: var(--text-color-main);
}